<app-header></app-header>
<section>
<h1>Carrinho de Compras</h1>
<div class="links">
  <button [routerLink]="['/']" class="link">Continuar Comprando</button>
  <button (click)="clearCart()" class="link">Esvaziar Carrinho</button>
  <button [routerLink]="['/order-success']" class="link">Finalizar Compra</button>
</div>

<section class="cupomTotal">
  <div>
    <p>Favor Utilizar o Cupom de Desconto: Comum: CUPOM20 - Raro: RARE5</p>
    <input type="text" class="inputDesconto" (input)="this.cupom = $event.target.value">
    <button (click)="aplicaDesconto(cupom.toUpperCase())">Aplicar</button>
    <p class="{{styleMsg}}">{{ status_cupom }}</p>
    </div>
    <div class={totalCupom}>
      <h3>Total do Carrinho: {{ totalCupom | currency:'BRL':true}}</h3>
      <h5> Descontos : {{ descontoValue || 0.00 | currency: 'BRL': true }}</h5>
    </div>
  </section>

<div *ngFor="let item of cart">
  <div class="item {{ item.rare ? 'comicRara': '' }}">
    <button class="deleteItem" (click)="removeItem(item.id)">X</button>

  <img src="{{item.thumbnail}}" alt="{{item.title}}">

  <div class="item_info">
  <h3>{{ item.rare ? '[RARA]': '' }}{{ item.title }}</h3>
  <span>Codigo: {{ item.id }}</span>
  </div>
  <div>
    <h3>{{ item.price | currency:'BRL':true}}</h3>
    <span>Qtd: {{ item.qtd }}</span>
  </div>
  </div>
</div>
</section>
